<style>
  nav {
    background-color: #3f5d7a;
    color: #fffb00;
    padding: 10px;
    text-align: center;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  nav a {
    text-decoration: none;
    color: #fffb00;
    font-size: 16px;
    font-weight: bold;
  }
</style>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blogs</a></li>
    <li><a href="/blog/add">Add Blogs</a></li>
  </ul>
</nav>
