<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <style>
       * {
        margin: 0px;
        padding: 0px;
      }
      body {
        background-color: rgb(159, 177, 205);
      }
      .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ul {
        display: flex;
        height: 40px;
        padding: 20px;
        list-style: none;
        background-color: rgb(63, 93, 122);
      }
      li {
        padding-left: 10px;
      }
      a {
        color: rgb(255, 251, 0);
        text-decoration: none;
        font-size: larger;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/add">Add Blogs</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>This is about page</h1>
    </div>
  </body>
</html>
