<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
        background-color: lightskyblue;
      }
      .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ul {
        display: flex;
        height: 40px;
        padding: 20px;
        list-style: none;
      }
      li {
        padding-left: 10px;
      }
      a {
        color: white;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>This is the home page</h1>
    </div>
  </body>
</html>
